<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673966212741-fbgegdh52rjm7unuro0isf6ghakdq2t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673966212741-fbgegdh52rjm7unuro0isf6ghakdq2t1</string>
	<key>API_KEY</key>
	<string>AIzaSyA9aY1Qim1hMdc_RfvRdHGmw28OrgNmKd4</string>
	<key>GCM_SENDER_ID</key>
	<string>673966212741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibaika.MEDCheck</string>
	<key>PROJECT_ID</key>
	<string>medcheck-3800d</string>
	<key>STORAGE_BUCKET</key>
	<string>medcheck-3800d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673966212741:ios:14a45f0a53da4e0ee38bec</string>
</dict>
</plist>